# ===========================
# Java / Maven
# ===========================
target/
*.class
*.jar
*.war
*.ear
hs_err_pid*

# ===========================
# Spring Boot
# ===========================
application-local.yml
application-local.properties

# ===========================
# Node / Angular
# ===========================
node_modules/
dist/
.angular/
*.js.map

# ===========================
# Environment / Secrets
# ===========================
.env
.env.*
# exceção: o template de variáveis (sem segredos) é versionado
!.env.example
*.pem
*.key
secrets/

# ===========================
# IDE
# ===========================
.idea/
*.iml
.vscode/settings.json
*.suo
*.user

# ===========================
# OS
# ===========================
.DS_Store
Thumbs.db
desktop.ini
